
.whole-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-board{
    width: 60%;
    height: 60vh;
    border: 1px solid black;
    border-radius: 2px;
}

.row{
    width: 100%;
    height: 33%;
    display: flex;
}

.col{
    border: 1px dotted red;
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#mole{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}
